In [33]:
import pandas as pd
import sklearn
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np

Loading the FIFA data into the Pandas Data frame

In [34]:
df = pd.read_csv('FIFA_Data.csv')

Analyzing the data on high level using head values

In [35]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

Lets drop a few columns, which we see have no value and see the nominal values of other columns

In [36]:
df.drop(['ID','Name','Photo','Nationality','Flag','Club','Release Clause','Club Logo'],axis=1,inplace=True)

Lets now observe the data to see if it makes any sense

In [37]:
df.head()

,Unnamed: 0,Age,Overall,Potential,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,31,94,94,€110.5M,€565K,2202,Left,5.0,4.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,33,94,94,€77M,€405K,2228,Right,5.0,4.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,26,92,93,€118.5M,€290K,2143,Right,5.0,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,3,27,91,93,€72M,€260K,1471,Right,4.0,3.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,4,27,91,92,€102M,€355K,2281,Right,4.0,5.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

Nothing much of a sense..Lol....now lets see the remaining columsn to pick the one to pass into the training and testing sets to see any pattern..

In [55]:
df.columns

Index(['Unnamed: 0', 'Age', 'Overall', 'Potential', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

Its time for some data manipulation from the above columns observed....

Lets predict the preferred foot of a player based on all the other attributed provided in the data set...

Just for fun.... :)

Initially lets have our entire train, test data and labels to predict should be segregated..

Lets begin

In [71]:
X = df.drop('Preferred Foot', 1)
X = X[['Age','Overall', 'Potential', 'Special', 'International Reputation', 'SprintSpeed', 'Balance', 'Acceleration', 'Positioning']]
y = df['Preferred Foot']

Lets observe the count of our train and test data

In [72]:
X.head()
X.count()

Age                         18207
Overall                     18207
Potential                   18207
Special                     18207
International Reputation    18159
SprintSpeed                 18159
Balance                     18159
Acceleration                18159
Positioning                 18159
dtype: int64

We see an irrelevant count of the attributes in different colums, so it gives us a clear understanding that there is some irrelevant data such as null, Nan, inf, -inf values in the attributes ....

So lets clean them...!!!

In [73]:
X.replace([np.inf, -np.inf], np.nan)
X.dropna(inplace=True)

Having removed them, lets again see the count of our attributes

In [74]:
X.head()
X.count()

Age                         18159
Overall                     18159
Potential                   18159
Special                     18159
International Reputation    18159
SprintSpeed                 18159
Balance                     18159
Acceleration                18159
Positioning                 18159
dtype: int64

Now we can clearly see the count in all the columns is same, so our data is good to go......!!!

In [75]:
X.head()

,Age,Overall,Potential,Special,International Reputation,SprintSpeed,Balance,Acceleration,Positioning
0,31,94,94,2202,5.0,86.0,95.0,91.0,94.0
1,33,94,94,2228,5.0,91.0,70.0,89.0,95.0
2,26,92,93,2143,5.0,90.0,84.0,94.0,89.0
3,27,91,93,1471,4.0,58.0,43.0,57.0,12.0
4,27,91,92,2281,4.0,76.0,77.0,78.0,87.0

Hehe...Forgot to clean our testing labels, lets clean them and get going

In [94]:
y.replace([np.inf, -np.inf], np.nan)

0         Left
1        Right
2        Right
3        Right
4        Right
5        Right
6        Right
7        Right
8        Right
9        Right
10       Right
11       Right
12       Right
13        Left
14       Right
15        Left
16       Right
17        Left
18       Right
19        Left
20       Right
21       Right
22       Right
23       Right
24        Left
25       Right
26        Left
27       Right
28        Left
29       Right
         ...
18177    Right
18178    Right
18179    Right
18180    Right
18181    Right
18182    Right
18183    Right
18184    Right
18185    Right
18186    Right
18187    Right
18188    Right
18189    Right
18190    Right
18191     Left
18192    Right
18193    Right
18194    Right
18195    Right
18196    Right
18197    Right
18198    Right
18199    Right
18200     Left
18201     Left
18202    Right
18203    Right
18204    Right
18205    Right
18206    Right
Name: Preferred Foot, Length: 18159, dtype: object

In [95]:
y.dropna(inplace=True)

In [96]:
y.head()

0     Left
1    Right
2    Right
3    Right
4    Right
Name: Preferred Foot, dtype: object

Now, one of the important task is to first divide the entire data and labels to train, test --> data and labels

Lets do that.....using scikit learn

In [97]:
from sklearn.model_selection import train_test_split

Btw....lets have a test size of 20% and randomize the data by 3.....

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 3)

Now, Its time to normalize our dataset to make sure every attribute is given equal priority and nothing impacts our training.....

In [98]:
from sklearn.preprocessing import StandardScaler

In [99]:
standScalar= StandardScaler()
X_train = standScalar.fit_transform(X_train)
X_test = standScalar.transform(X_test)

Hey...Our Normalized dataset is ready

Now, I dont want all the training features but want to convert them into principle components to easily train and then apply an algorithm

In [102]:
from sklearn.decomposition import PCA

pca = PCA(n_components= 3)

X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

We did apply PCA to our data set with simplifying the attributes to 3 rather 10, lets have a look at the data

In [103]:
X_train

array([[-0.33657251,  0.12610986,  1.30415325],
       [-0.36232079,  0.41997308, -0.17285004],
       [ 0.41511077, -0.0424853 , -1.72498872],
       ...,
       [-0.4527418 ,  0.33651966,  0.85227142],
       [ 1.34308889, -2.21250236,  0.15879456],
       [-1.55860008,  0.81807638, -0.8702004 ]])

Yes, what you see is right, PCA contains explained_variance_ration , in simple terms returns the variance caused by each principle component.....Its can be considered a type of unsupervised learning

Further to this, lets apply a classifier algorithm to train, test the PCA transformed data

For this lets use a simple classifier Random Forest

Lets do it

In [106]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=3)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=3, verbose=0, warm_start=False)

Its time for our prediction using the above trained classifier and applying our test data to retrieve labels

In [107]:
y_pred = clf.predict(X_test)

Yes, we did predict, but inorder for us to look and compare with original labels is time consuming, so scikit learn is so cool to provide an accuracy function

Thanks Scikit Learn :)

In [108]:
from sklearn.metrics import accuracy_score

In [109]:
Accuracy = accuracy_score(y_test, y_pred)

print(Accuracy)

0.7720264317180616

So, An accuracy of 77.20 is what our classifier performed on the testing data ...it can be optimized by varying parameters, pca components, hyper parameter tuning, furthe shuffling...but for now..we are good!!!!